      <div class="container">
        <div class="row">
          <form class="form-grup float-md-right" action="/logout" method="post">
            <button type="submit" class="btn btn-primary mb-2">Logout</button>
          </form>
        </div>
        <div class="row">
          <ul class="list-group" style="height:250px; width:100%;
  overflow-y: scroll;">
            {{#each messages}}
              <li class="list-group-item">
                <img src="/img/{{this.author.imgUrl}}" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                {{this.body}}
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="row">
          <form class="form-inline" method="post" action="/">
            <div class="form-group">
              <div class="col-md-8">
                <label for="inputMessage" class="sr-only">Message</label>
                <input autofocus name="message" type="text" class="form-control" id="inputMessage" placeholder="Message">
            </div>
              <div class="form-group col-md-3">
                <button type="submit" class="btn btn-primary mb-2">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
